* {
	font-family: 'Lato', 'Tahoma', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: $dgray;
	box-sizing: border-box;
}

body {
	@extend %fans;
}

.main-width {
	width: 300px;
	margin: 0 auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	
	&:hover {
		color: crimson;
	}
}

h3 {
	font-size: 18px;
	color: $dgray;
	margin: 0;
	//border: 1px solid hotpink;
}

h4 {
	color: $dgray;
	border: 1px solid hotpink;
	margin: 30px 0 10px 0;
}

h5 {
	font-size: 100%;
	color: black;
	margin: 0;
}

button {
	min-height: 40px;
	background-color: $dgray;
	border-radius: 3px;
	font-size: 70%;
	color: floralwhite;
	text-transform: uppercase;
	line-height: 1.2;
	padding: 10px;
}
