#s1 {
	background-color: $dgray;
	width: 100%;
	min-height: 60px;
	position: fixed;
	top: 0;
	z-index: 99;
	
	.main-width {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 10px;
	}
	
	.top-logo {
		color: floralwhite;
		font-size: 22px;
		line-height: 0.8;
		width: 120px;
	}

	.top-nav {
		position: relative;
	}
	
	.material-icons {
		color: floralwhite;
		font-size: 24px;
		//border: 1px solid hotpink;
		width: 40px;
		height: 40px;
		padding: 8px;
		cursor: pointer;
	}
			
	.nav-ul {
		//border: 1px solid hotpink;
		position: absolute;
		padding-top: 10px;
		right: 0;
			
		li {
			height: 40px;
			width: 300px;
			//padding: 10px;
			background-color: $dgray;
			text-transform: uppercase;
			text-align: center;
			border: 1px solid $mgray;
			display: flex;
			justify-content: center;
			align-items: center;
				
			a {
				color: floralwhite;
				font-size: 12px;
					
				&:hover {
					color: $lgray;
				}
				
				&:target:before {
					content:"";
					display:block;
					height:90px; /* fixed header height*/
					margin:-90px 0 0; /* negative fixed header height */
				}
			}
		}
		
		a[href='#s3'] {
			
		}
	}
}


