#s2 {
	background-color: floralwhite;
	padding: 20px;
	margin-top: 90px;
	
	a {
		color: $main-color;
		
		&:hover {
			color: lighten($main-color, 20);
		}
	}
	
	#show-more, #show-less {
		color: $main-color;
		
		&:hover {
			cursor: pointer;
			color: lighten($main-color, 20);
		}
	}
	
	.about-edu, .about-work {
		
		li {
			padding-bottom: 7px;
		}
	}
	
	.aside {
		
		li {
			font-size: 90%;
		}
	
		.dots {
			padding-bottom: 10px;
			font-size: 100%;

			span {
				color: $main-color;
			}
		}
	}
}

