#s2 {
	background-color: floralwhite;
	padding: 20px;
	margin-top: 90px;
	
	a {
		color: crimson;
		
		&:hover {
			color: lighten(crimson, 20);
		}
	}
	
	#show-more, #show-less {
		color: crimson;
		
		&:hover {
			cursor: pointer;
			color: lighten(crimson, 20);
		}
	}
	
	.about-edu, .about-work {
		
		li {
			padding-bottom: 7px;
		}
	}
	
	.dots {
		padding-bottom: 10px;
		
		span {
			color: crimson;
		}
	}
}

