#s3 {
	background-color: floralwhite;
	margin-top: 30px;
	padding: 20px;
	
	.pf-items {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		padding-top: 10px;
		
		article {
			margin: 10px;
			margin-bottom: 30px;
			//border: 1px solid crimson;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			
			h4 {
				height: 160px;
				width: 160px;
				border-radius: 48%;
				margin: 0;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			
			button {
				margin-top: 10px;
			}
		}
	}
}
