#s3 {
	background-color: $mgray;
	margin-top: 30px;
	padding: 20px;
	
	h3 {
		color: floralwhite;
		font-weight: normal;
	}
	
	.pf-items {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		padding-top: 10px;
		
		article {
			margin: 10px;
			margin-bottom: 30px;
			color: floralwhite;
			//border: 1px solid crimson;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			
			h4 {
				height: 160px;
				width: 160px;
				border-radius: 49%;
				color: $main-color;
				margin: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: floralwhite;
			}
			
			button {
				margin-top: 10px;
			}
		}
	}
}
