#s3 {
	background-color: floralwhite;
	margin-top: 30px;
	padding: 10px;
	
	.pf-items {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		padding-top: 10px;
		
		article {
			width: 120px;
			height: 180px;
			margin: 10px;
			border: 1px solid crimson;
			display: flex;
			flex-flow: column nowrap;
			justify-content: flex-start;
			align-items: center;
			
			h4 {
				height: 120px;
				width: 100%;
				margin: 0;
			}
			
			button {
				margin-top: 10px;
			}
		}
	}
}
